﻿@{
    ViewBag.Title = "Add book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавление книги</h1>
@using (Html.BeginForm("ConfigureBook", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section>
        <label class="input">
            <i class="fa fa-append fa-tag"></i>
            Загрузите epub книгу<br /> <input type="file" name="uploadedFile" />
        </label>
    </section>
    <p>
        <input type="submit" value="Загрузить" class="btn btn-primary">
    </p>
}
