@model IEnumerable<Tuple<BookComrade.Models.Subscription, Microsoft.AspNetCore.Identity.IdentityUser>>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование подписок</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Логин
        </th>
        <th>
            Начало подписки
        </th>
        <th>
            Действительна до
        </th>
        <th>
            Премиум уровень
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item2.UserName)
            </td>
            @if (item.Item1!=null)
            {
            <td>
                @Html.DisplayFor(modelItem => item.Item1.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.IsPremium)
            </td>
            
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Admin", 
                    new {subId = item.Item1.SubscriptionID}) |
                @Html.ActionLink("Удалить", "Delete", 
                    new {subId = item.Item1.SubscriptionID})
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.Item1.SubscriptionID)
            </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Оформить подписку", "Create", "Admin", 
                        new {userId = item.Item2.Id})
                </td>
            }
        </tr>
    }

</table>