﻿@model Book
@{
    ViewData["Title"] = "ConfigureBook";
}

<form asp-action="SaveBookInfoToDb" asp-controller="Admin" method="post" enctype="multipart/form-data">

    <div class="row">

        <div class="column mr-3">
            <input type="text" name="Name" value="@Model.Name" placeholder="Имя" class="input-group-text" />
            <br>
            <input type="text" name="Author" value="@Model.Author" placeholder="Автор" class="input-group-text" />
            <br>
            <input type="text" name="Annotation" value="@Model.Annotation" placeholder="Аннотация" class="input-group-text" />
            <br>
            @Html.CheckBoxFor(modelItem => modelItem.IsPremium) Книга премиум класса <hr />
            <input type="hidden" value="@Model.Id" name="Id" />
            <input type="hidden" value="@Model.Path" name="Path" />
            Выберите категорию книги:<br />
            <div class="custom-radio">
                <input type="radio" name="Category" value="1"> Классика </input>
                <br>
                <input type="radio" name="Category" value="2"> Поэзия</input>
                <br>
                <input type="radio" name="Category" value="3"> Проза</input>
                <br>
                <input type="radio" name="Category" value="4"> Здоровье</input>
                <br>
                <input type="radio" name="Category" value="5"> Саморазвитие</input>
                <br>
                <input type="radio" name="Category" value="6"> Прочее</input>
                <br>
            </div>
            <input type="submit" value="Обновить информацию" class="btn btn-primary mt-2"></input>
            <form asp-action="Index" asp-controller="Admin" method="get">
                <input type="submit" value="Продолжить без изменений" class="btn btn-primary mt-2" style="background-color:teal"></input>
            </form>
        </div>


        <div class="column ml-3">
            <div class="column">
                <section>
                    <label class="input">
                        <i class="fa fa-append fa-tag"></i>
                        Вы можете загрузить другую обложку книги<br /> <input type="file" name="uploadedFile" />
                    </label>
                </section>
            </div>
            <div class="column">
                @if (Model.Image != null)
                {
                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Image))" width="350px" alt="img">
                }
                else
                {
                    <img src="https://www.raamatuvahetus.ee/et/img/U00045289.jpg" width="350px" alt="img">
                }
            </div>

        </div>
    </div>
</form>
