@model BookComrade.Models.Subscription

@{
    ViewBag.Title = "Админ панель: создание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Создание подписки пользователя</h3>
    </div>

    @using (Html.BeginForm("Create", "Admin", FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(x => x.SubscriptionID)
            @Html.HiddenFor(x => x.UserId)

            <div class="form-group">
                Идентификатор пользователя: @Html.DisplayFor(x => x.UserId)
                <br>
                @Html.EditorFor(x => x.IsPremium) Премиум подписка
                <hr>
                Начало подписки @Html.EditorFor(x => x.StartDate)
                <br>
                Действительна до @Html.EditorFor(x => x.EndDate)
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Admin", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>

