@model BookComrade.Models.Subscription

@{
    ViewBag.Title = "Админ панель: редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование подписки пользователя</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin",FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(x=>x.SubscriptionID)
            @Html.HiddenFor(x=>x.UserId)
            <div class="form-group">
                @Html.EditorFor(x => x.IsPremium) Premium subscription
                <br>
                Valid until @Html.EditorFor(x => x.EndDate)
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить"  class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Admin", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>

