@model IEnumerable<BookComrade.Models.Subscription>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Страница администратора</h2>
<p>
    @Html.ActionLink("Добавить книгу", "AddBook", "Admin")
</p>
<p>
    @Html.ActionLink("Управление подписками", "Admin", "Admin")
</p>
