﻿@model IEnumerable<Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Скачать книги</h1>
@foreach (var book in Model)
{
    <div class="post-preview">
        <a href="/Home/Read?bookId=@book.Id">
            <h4 class="post-title">
                @book.Author - @book.Name
            </h4>
        </a>

    </div>
    <hr>
}
