@{
    ViewBag.Title = "Create Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<label class="align-middle"><h3>Для продолжения работы на сайте необходимо оформить подписку </h3> </label>
<div>
    <form action="CreateSubscription" method="post">
        <input type="radio" name="Subscription" value="standard"> Стандартная подписка</input>

        <br>
        <input type="radio" name="Subscription" value="premium"> Премиум подписка</input>
        <br>
        <input type="submit" value="Отправить"> </input>
    </form>
</div>