@model BookComrade.Models.Identifier

<!DOCTYPE html>

<html>
<head>
    <title>Subscription confirmation</title>
</head>
<body>
<div>
    <form action="/Home/">
    Your identifier is:
    @Model.identifier
    <br>
    <input type="submit" value="OK"/>
    </form>
</div>
</body>
</html>