@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Home/PaymentCheck" method="post">
    <input type="text" placeholder="2*2?" name="pay">
    <input type="submit">
</form>