@model List<Book>
@{
    ViewBag.Title = "Serach results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Результаты поиска</h1>
@foreach (var book in Model)
{
    <div class="post-preview">
        <a href="/Library/Book?bookId=@book.Id">
            <h4 class="post-title">
                @book.Name
            </h4>
        </a>
    </div>
    <hr>
}