﻿@model BookReview
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-4">
                <div class="owl-carousel owl-theme s_Product_carousel">
                    <div class="single-prd-item">
                        @if (Model.Book.Image != null)
                        {
                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Book.Image))" 
                                 width="350px" alt="img">

                        }
                        else
                        {
                            <img src="https://www.raamatuvahetus.ee/et/img/U00045289.jpg" width="350px" alt="img">
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="s_product_text">
                    <h1>@Model.Book.Name </h1>
                    <h3>@String.Join(' ', Model.Book.Author)</h3>
                    <ul class="list">
                        <li><a class="active" href="/Library/Category?category=@Model.Book.Category">
                            <span>Категория - </span>@Model.Book.Category.GetDescription()
                        </a></li>
                        <li><span><a class="download" href="/Home/Read?bookId=@Model.Book.Id">Скачать</a></span></li>
                    </ul>
                    <p>
                        @Model.Book.Annotation
                    </p>
                    <form action="Navigation" method="get">
                    <button type="submit" name="bookId" value="@Model.Book.Id" class="btn btn-primary">
                        Читать
                    </button> </form>
                </div>
                <br />
                <div class="commentBox">
                    @using (Html.BeginForm("AddReview", "Home", FormMethod.Post, new { onsubmit = "return SubmitComment()" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 text-lg-left">
                                    Оставьте свой отзыв о книге!
                                    <div onmouseout="CRateSelected()">
                                        <span class="fa fa-star" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                                        <span class="fa fa-star" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                                        <span class="fa fa-star" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                                        <span class="fa fa-star" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                                        <span class="fa fa-star" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea name="Text" id="Text" required rows="5" style="width:100%;" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="hidden" name="BookId" value="@Model.Book.Id" />
                                    <input type="hidden" name="Rate" id="Rate" value="0" />
                                    <input type="submit" id="btnRegister" name="btnRegister" value="Отправить отзыв" 
                                           class="btn btn-primary float-right" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        
    </div>
</div>
<br />
<div class="row">
    <div class="align-middle"><h4>Отзывы читателей</h4></div>
    
        @foreach (var x in Model.Reviews)
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>@x.Username</strong> 
                                <span class="text-muted">@x.WhenPosted</span>
                                <span class="text-dark float-right">@x.Rate.GetDescription()</span>
                            </div>
                            <div class="panel-body">
                                @x.Text
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    
</div>
<script>
    function SubmitComment() {
        if ($("#Rate").val() == "0") {
            alert("Пожалуйста, оцените книгу.");
            return false;
        }
        else {
            return true;
        }
    }

    function CRate(r) {
        $("#Rate").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'fa fa-star checked');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'fa fa-star');
        }
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'fa fa-star checked');
        }
    }

    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'fa fa-star');
        }
    }

    function CRateSelected() {
        var setRating = $("#Rate").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'fa fa-star checked');
        }
    }
</script>