@model IEnumerable<Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Книги из категории @Model.First().Category.GetDescription()</h2>
    <div class="wrapper">
        @foreach (var book in Model)
        {
            <div class="col-md-12">
                <div class="item">
                    <div class="cover">
                        @if (book.Image != null)
                        {
                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(book.Image))" width="100px" height="150px" alt="img">

                        }
                        else
                        {
                            <img src="https://www.raamatuvahetus.ee/et/img/U00045289.jpg" width="100px" height="150px" alt="img">
                        }
                    </div>
                    <h6><a href="/Library/Book?bookId=@book.Id">@book.Name</a></h6>
                </div>
            </div>
        }

    </div>