@model Tuple<List<VersOne.Epub.EpubNavigationItemRef>, int>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Навигация</h1>
@foreach (var navItem in Model.Item1)
{
    <h3><a href="/Library/ReadSection?bookId=@Model.Item2&chapterName=@navItem.Title">@navItem.Title</a></h3>
}